.main-text-container
  max-width: 785px
  margin: 100px auto
  color: #2C384E
  font-weight: 300
  font-size: 15px
  line-height: 22px
  ul
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin: 0
  li
    width: fit-content
    list-style-type: none
  li:before
    content: ''
    display: inline-block
    height: 8px
    width: 8px
    border-radius: 50%
    margin-right: 10px
    margin-bottom: 2px
    background-color: #E1493A
  @media screen and (max-width: 840px)
    max-width: 620px
    padding: 0 15px

.main-text-container-expand
  max-width: 785px
  color: #2C384E
  font-weight: 300
  font-size: 15px
  line-height: 22px
  margin: -50px auto 100px

#expand-all-link
  color: #2C384E
  font-weight: 300
  font-size: 15px
  line-height: 22px
  text-decoration: #2C384E
  text-decoration: underline

#expand-all-link:hover
  color: #BA3325
