$disabledColor: #999999
$activeColor: #E1493A

.faq-container
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  height: 900px
  h4
    margin-bottom: 90px

//.question-wrapper
//  display: flex
//  flex-direction: column
//  justify-content: center
//  max-width: 769px
//  box-shadow: 0px 12px 20px rgba(189, 189, 189, 0.27)

//.question
//  display: flex
//  flex-direction: row
//  justify-content: flex-start
//  h5
//    margin-right: auto
//    margin-left: 0

.questions-wrapper
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.question
  background-color: #FFFFFF
  border-radius: 10px !important
  border: none
  width: 90%
  max-width: 880px
  box-shadow: 0 4px 20px rgba(189, 189, 189, 0.25)
  margin: 15px 15px
  padding: 0 60px
  @media screen and (max-width: 500px)
    margin: 0
    padding-left: 10px
    padding-right: 10px

.question-card
  display: flex
  align-items: center
  text-align: center
  justify-content: start
  justify-self: center
  width: 100%
  max-width: 880px
  padding: 0
  height: 60px
  border-bottom: none
  background-color: inherit
  h5
    color: #2C384E
    font-size: 18px
    font-weight: 700
    text-align: left
    margin: 0
    @media screen and (max-width: 500px)
      font-size: 13px

.question-collapse-button
  width: 28px
  height: 28px
  padding: 0
  border: none

  margin-left: auto
  transition: 400ms
  img
    margin: 0
  &.disabled
    transform: rotate(180deg)
    filter: grayscale(100)
  &.active
    transform: rotate(0deg)
    filter: grayscale(0)

.question-indicator
  height: 15px
  width: 15px
  border-radius: 50%
  background-color: #999999
  margin-right: 15px

.question-indicator.active
  transition: background-color 200ms
  background-color: red

.question-indicator.disabled
  transition: background-color 200ms
  background-color: #999999

.question-text
  font-size: 14px
  font-weight: 300
  color: #656769

//.active
//  background-color: $activeColor

//.disabled
//  background-color: $disabledColor

.hidden
  display: none
