.review-container
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  height: 600px
  margin-bottom: 500px
  color: #2C384E
  h4
    font-size: 30px
    font-weight: 700
  p
    font-size: 18px
    font-weight: 300
    margin-bottom: 50px

.review-wrapper
  display: flex
  align-items: center
  justify-content: center
  height: 400px
  width: 880px
  margin-bottom: 50px
  background-color: #FFFFFF
  border-radius: 15px
  box-shadow: 0px 4px 20px rgba(189, 189, 189, 0.25)

.review
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  padding: 0 90px
  min-height: 400px

.review-description
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: flex-start
  text-align: start
  margin-left: 42px


#reviewCarouselSlide
  width: 900px
