.header-mobile
  position: fixed
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  width: 100%
  height: 80px
  top: 0
  z-index: 100
  background-color: #FFFFFF
  box-shadow: 0 4px 25px rgba(189, 189, 189, 0.25)
  @media screen and (min-width: 1120px)
    display: none
  img
    margin: 0

.menu-button
  border: none
  background: none
  height: 30px
  width: 30px
  margin: 0
  padding: 0

.header-mobile-menu
  display: flex
  flex-direction: column
  overflow: hidden

#menu-toggle
  width: 25px
  height: 20px
  position: relative
  -webkit-transform: rotate(0deg)
  -moz-transform: rotate(0deg)
  -o-transform: rotate(0deg)
  transform: rotate(0deg)
  -webkit-transition: .5s ease-in-out
  -moz-transition: .5s ease-in-out
  -o-transition: .5s ease-in-out
  transition: .5s ease-in-out
  cursor: pointer

#menu-toggle span
  display: block
  position: absolute
  height: 3px
  width: 100%
  background: #d3531a
  opacity: 1
  left: 0
  -webkit-transform: rotate(0deg)
  -moz-transform: rotate(0deg)
  -o-transform: rotate(0deg)
  transform: rotate(0deg)
  -webkit-transition: .25s ease-in-out
  -moz-transition: .25s ease-in-out
  -o-transition: .25s ease-in-out
  transition: .25s ease-in-out

#menu-toggle span:nth-child(1)
  top: 0

#menu-toggle span:nth-child(2),#menu-toggle span:nth-child(3)
  top: 8px

#menu-toggle span:nth-child(4)
  top: 17px

#menu-toggle.open span:nth-child(1)
  top: 8px
  width: 0
  left: 50%

#menu-toggle.open span:nth-child(2)
  -webkit-transform: rotate(45deg)
  -moz-transform: rotate(45deg)
  -o-transform: rotate(45deg)
  transform: rotate(45deg)

#menu-toggle.open span:nth-child(3)
  -webkit-transform: rotate(-45deg)
  -moz-transform: rotate(-45deg)
  -o-transform: rotate(-45deg)
  transform: rotate(-45deg)

#menu-toggle.open span:nth-child(4)
  top: 8px
  width: 0
  left: 50%

.nav-item
  height: 50px
  list-style: none
  background-color: #FFFFFF
  margin: 0
.nav-items
  margin: 0

.nav
  &-drill
    display: flex
    position: fixed
    z-index: 100
    top: 0
    right: 0
    width: 100%
    height: 100vh
    overflow-y: auto
    overflow-x: hidden
    background-color: #FFFFFF
    -webkit-overflow-scrolling: touch
    transition: 0.35s
  &-items
    flex: 0 0 100%

  &-expand
    &-content
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      transform: translateX(100%)
      transition: 0.3s
      visibility: hidden
      .nav-back-link
        display: flex
        flex-direction: row-reverse
        border: none
        width: 100%
        background-color: #F7F7F7
    &-link
      display: flex
      justify-content: space-between
      padding-left: 0


    &.active
      > .nav-expand-content
        background-color: #FFFFFF
        transform: translateX(0)
        visibility: visible

.nav-link
  display: flex
  align-items: center
  height: 100%
  font-size: 14px
  font-weight: 400
  line-height: 16px
  text-transform: uppercase
  color: #2C384E

.expand-link-wrapper
  display: flex
  align-items: center
  justify-content: space-between
  height: 100%


.nav-drill
  margin-top: 80px
  transform: translateX(100%)

.nav-drill.opened
  transform: translateX(0)


